ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: white;
    position: fixed;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #3100ED;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    text-decoration-line: underline;
  }
  
  li a.active {
    background-color: #3100ED;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #3100ED;
    color: white;
  }